.create-poll-container {
	width: 100%;
    height: 100vh;
    padding: 16px;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start !important;
    .close-add-question-dialog {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .questions-preview {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .choice-control {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 1rem;
    }
    .qustion-name {
        flex-direction: row;
        justify-content: space-between;
    }
    .remove-question{
        color: white;
    }
}