h4 {
    display: flex;
    align-self: left;
    justify-content: center;
}
.answers {
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    overflow-x: hidden;
    margin-bottom: 1rem;
    box-sizing: border-box;
    background-color: white;
    .pie{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .question-text {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 14px;
    }
    .question-answers {
        display: flex;
        flex-direction: column;
        max-height: 20vh;
        min-width: 100%;
        overflow-y: scroll;
        .text-answer {
            font-style: italic;
        }
    }
}