.footerWrapper {
	height: 120px;
	width: 100%;
	background-color: #101010;
	.footerLink {
		display: flex;
		justify-content: center;
		width: 200px;
		height: 80px;
		background: linear-gradient(180deg, #4ec299 0%, #3b9273 100%);
		border-radius: 10px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 1rem 0 1rem;
		&.backLink {
			float: left;
		}
		.backArrowImage {
			width: 136px;
		}
	}
}
