.container {
	width: 100%;
    height: 100vh;
    padding: 16px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
	.search{
		padding: 0;
		height: 10vh;
		display: inline-flex;
	}
	.poll-thumbs-list {
		height: 70vh;
		overflow: scroll;
		overflow-x: hidden;
	}
	.poll-thumb {
		padding:1rem;
		margin:1rem;
		box-sizing: border-box;
		.card-actions {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	.pagination {
		width: 100vw;
		height: 10vh;
		display: inline-flex;
		align-self: center;
		justify-content: center;
	}
	.no-polls-message{
		justify-content: center;
	}
}
