.navigationLinksList {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
	list-style: none;
	margin-top: 13vw;
	.navigationLinksItem {
		width: 200px;
		height: 200px;
		left: 515px;
		top: 440px;
		background: linear-gradient(180deg, #4ec299 0%, #3b9273 100%);
		border-radius: 10px;
		color: white;
        font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: capitalize;
		text-decoration: none;
	}
}
